*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#071321;
    color:white;
    font-family:Roboto,Arial,sans-serif;
}

#dashboard{
    width:1850px;
    margin:15px auto;
    display:grid;
    grid-template-columns:260px 540px 260px 260px 260px;
    grid-auto-rows:minmax(120px,auto);
    gap:10px;
}

.panel{
    background:#0d1b2f;
    border:1px solid #2d4f7a;
    border-radius:8px;
    padding:12px;
}

.header{
    grid-column:1 / span 5;
    height:90px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:#08111d;
}

.logo{
    color:#4ab2ff;
    font-size:34px;
    font-weight:900;
}

.company{
    font-size:42px;
    font-weight:900;
}

.ticker{
    color:#36a3ff;
}

.price{
    font-size:48px;
    color:#00ff66;
    font-weight:900;
}

.subtitle{
    color:#9ec9ff;
    font-size:18px;
}

